<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <h2 class="auth-title">
    Welcome to FIT File Connect!
    <br/>
    This website is a tool to help you upload your FIT files to Wahoo.
    <br/>
    <small>Log in to continue</small>
  </h2>
  <div class="social-auth-options">
    <ion-button class="social-auth-btn google-auth-btn" expand="block" color="google" (click)="doWahooLogin()">Log In with Wahoo</ion-button>
  </div>
</ion-content>
