<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="skip-walkthrough-button" fill="clear" (click)="skipWalkthrough()">skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper [pagination]="true" class="walkthrough-slides" (swiper)="setSwiperInstance($event)" (init)="swiperInit()" (slideChangeTransitionStart)="slideWillChange()">
    <ng-template swiperSlide>
      <ion-row class="slide-inner-row first-slide illustration-and-decoration-slide">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:915, h:849}">
            <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/sample-images/walkthrough/walkthrough-illustration-1.svg'" [alt]="'walkthrough'"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <!-- http://jxnblk.com/paths/?d=M0%200%20V5%20H5%20C25%205%2025%2020%2045%2020%20S65%205%2085%205%20H90%20V0%20Z -->
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100%" viewBox="0 0 90 20" style="enable-background:new 0 0 90 20;" xml:space="preserve" preserveAspectRatio="none">
            <path d="M0 0 V5 H5 C25 5 25 20 45 20 S65 5 85 5 H90 V0 Z"/>
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">This App was made to help you import your FIT data into Wahoo</h3>
            <p class="info-paragraph">
              It was created by John Baima to help you plan your workouts in SYSTM.
            </p>
            <p class="info-paragraph">
              <b>Enjoy.</b>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ng-template>
  </swiper>
</ion-content>
