<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>
      Terms Of Service
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="legal-content">
  <h3 class="legal-title">Welcome to FIT File Connect</h3>
  <p class="legal-text">
    We do not store any of your private information including your Wahoo account credentials. We only store your public profile information and your activity data.
    But you use this app at your own risk. We are not responsible for any loss of data or any other issues that may arise from using this app.
  </p>
</ion-content>
